<div class="min-h-screen bg-secondary py-3 flex flex-col items-center">
  <h2 class="p-6 text-xl text-primary font-bold">Lists</h2>
  <div class="min-w-full mb-3 px-6 flex flex-row">
    <input
      type="text"
      placeholder="Shopping list name"
      #listName
      class="p-3 text-darkGray w-5/6 bg-white bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline"
    />
    <button (click)="addList(listName.value); listName.value = ''">
      <span class="text-primary ml-2">
        <fa-icon [icon]="faPlus"></fa-icon>
      </span>
    </button>
  </div>
  <div class="min-w-full px-6 relative text-sm sm:text-base">
    <ul class="min-w-full flex flex-row" *ngFor="let list of lists">
      <li
        [ngClass]="list.isMarkedOut === true ? 'line-through' : none"
        class="p-2 my-1 text-secondary bg-primary rounded shadow w-5/6"
      >
        {{ list.name }}
        <span *ngIf="list.client" class="text-white"> - {{ list.client }}</span>
        <span *ngIf="list.total" class="font-semibold">
          - {{ list.total }}€</span
        >
        <span
          class="italic float-right pr-2 font-extralight text-sm text-lightGray"
          >{{ list.createdAt | date }}</span
        >
      </li>

      <!-- Toggle modal -->
      <div class="w-1/6 self-center pl-1">
        <button (click)="toggleModal(list)">
          <span class="text-primary ml-2">
            <fa-icon [icon]="faMore"></fa-icon>
          </span>
        </button>
      </div>
    </ul>

    <!-- Modal -->
    <dialog
      *ngIf="showModal"
      class="overflow-x-hidden overflow-y-auto absolute inset-0 z-50 outline-none focus:outline-none rounded shadow-sm flex flex-row justify-between gap-4"
    >
      <a [routerLink]="[list._id, 'items']">
        <span class="text-primary ml-2">
          <fa-icon [icon]="faList"></fa-icon>
        </span>
      </a>
      <a [routerLink]="[list._id, 'edit']">
        <span class="text-primary ml-2">
          <fa-icon [icon]="faEdit"></fa-icon>
        </span>
      </a>
      <button (click)="markoutList()">
        <span class="text-primary ml-2">
          <fa-icon [icon]="faMarkout"></fa-icon>
        </span>
      </button>
      <button (click)="deleteList()">
        <span class="text-primary ml-2">
          <fa-icon [icon]="faDelete"></fa-icon>
        </span>
      </button>
    </dialog>
  </div>
</div>
