<div class="min-h-screen bg-secondary py-3 flex flex-col items-center">
  <h2 class="p-6 text-xl text-primary font-bold">Lists</h2>
  <div class="min-w-full mb-3 px-6 flex flex-row">
    <input
      type="text"
      placeholder="Shopping list name"
      #listName
      class="p-3 text-darkGray w-5/6 bg-white bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline"
    />
    <button (click)="addList(listName.value); listName.value = ''">
      <span class="text-primary ml-2">
        <fa-icon [icon]="faPlus"></fa-icon>
      </span>
    </button>
  </div>
  <div class="min-w-full px-6">
    <ul class="min-w-full" *ngFor="let list of lists">
      <a [routerLink]="['edit', list._id]">
        <li class="p-2 my-1 text-secondary bg-primary rounded shadow">
          {{ list.name }}
          <span
            class="italic pr-2 float-right font-extralight text-sm text-lightGray"
            >{{ list.createdAt | date }}</span
          >
        </li>
      </a>
    </ul>
  </div>
</div>
